useDynLib(CVSCIR, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("stats", "rbinom")
importFrom("stats", "runif")
importFrom("igraph", "degree")
importFrom("igraph", "graph_from_adjacency_matrix")
importFrom("igraph", "neighbors")
importFrom("igraph", "complementer")
import(RcppArmadillo)
import(parallel, doParallel, foreach)
import(dplyr)
import(jsonlite) 
import(stringr) 
import(tidyverse)
exportPattern("^[[:alpha:]]+")
export(minibatch_sampling)
export(CIR_B_update_par)
export(CIR_pi_update_par)
export(P_hat_t_Y_list_fun)
export(P_hat_t_Y_list_fun_par)
export(CIR_B_update_no_par)
export(CIR_pi_update_no_par)
export(SG_B_update_no_par)
export(SG_pi_update_no_par)
export(P_0_fun)
export(P_fun)
export(rcpp_mat_init)
export(rcpp_words_idx)
export(rcpp_sample_cnt)
export(words_idx)
export(mat_init)
export(cumprob_ini)
export(runif_fun)
export(count_all_docs)
export(online_wiki_missing_docs_check)
export(online_wiki)
export(parse_doc_parallel_train_test)
export(parse_hold_out)
export(sample_counts_Rcpp_parallel)
export(log_pred)
export(hold_out_log_pred)
